In [41]:
import numpy as np
from sklearn.svm import LinearSVC
import pandas as pd

In [42]:
data=pd.read_csv(r"C:\Users\Administrator\Desktop\Aadesh\DL Program\SimplePerceptron.csv")

In [43]:
data.head()

   Tv Exposure  Reading Needs Spects
0          6.0        4          Yes
1          6.0        2           No
2          4.0        3           No
3          4.5        4          Yes
4          3.0        8          Yes

In [44]:
data

   Tv Exposure  Reading Needs Spects
0          6.0        4          Yes
1          6.0        2           No
2          4.0        3           No
3          4.5        4          Yes
4          3.0        8          Yes
5          2.0        2           No
6          5.0        1           No

In [45]:
for i in range(len(data["Needs Spects"])):
    if data.loc[i,"Needs Spects"]=="Yes":
        data.loc[i,"Needs Spects"]=1
    else:
        data.loc[i,"Needs Spects"]=0

In [46]:
data

   Tv Exposure  Reading  Needs Spects
0          6.0        4             1
1          6.0        2             0
2          4.0        3             0
3          4.5        4             1
4          3.0        8             1
5          2.0        2             0
6          5.0        1             0

In [47]:
x=data.drop('Needs Spects',axis=1)

In [48]:
x

   Tv Exposure  Reading
0          6.0        4
1          6.0        2
2          4.0        3
3          4.5        4
4          3.0        8
5          2.0        2
6          5.0        1

In [49]:
y=data[['Needs Spects']]

In [50]:
y

   Needs Spects
0             1
1             0
2             0
3             1
4             1
5             0
6             0

In [51]:
def perceptron(a,b):
    clf = LinearSVC().fit(x,y)  #svm
    linear_model = np.dot([a,b], clf.coef_[0]) + clf.intercept_  
    #creating linear model using coef and intercept
    y_predicted = 1 / (1 + np.exp(-(linear_model))) #passing that model to sigmoid function
    yp = [1 if y_predicted > 0.5 else 0 ] #prediction based on sigmoid value
    print("value of y for given tuple and function is:",yp)
    print("Intercept : {} \nCoefficients : {}".format(clf.intercept_,*clf.coef_))

In [52]:
perceptron(3,8)

value of y for given tuple and function is: [1]
Intercept : [-1.2353224]
Coefficients : [-0.09615516  0.5305317 ]

C:\Users\Administrator\Anaconda3\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)